[submodule "vendor/reveal-js"]
	path = vendor/reveal-js
	url = git://github.com/hakimel/reveal.js.git
[submodule "vendor/forkit-js"]
	path = vendor/forkit-js
	url = git://github.com/hakimel/forkit.js.git
