box-shadow(val)
    -webkit-box-shadow : val
    box-shadow : val

transform(val)
    -webkit-transform : val
    transform : val

transition-duration(val)
    -webkit-transition-duration : val
    transform : val

body
    background-color #000

.editor
    width inherit
    height 540px

.logo
    position fixed

    h3
        display block
        text-align center
        box-shadow(0 0 10px #9c9c9c)
        transform(rotate(-45deg) translateX(-60px))
        padding 3px 0 3px 0
        width 220px
        a
            color #ffc

.top-margin
    height 20px

.control-panel
    position fixed
    bottom 50px
    right 0
    left auto
    .button
        transition-duration(0.5s)
        cursor pointer
        background-color #fff
        width 120px
        padding 3px 0 3px 0
        text-aligin center
        border-style solid
        border-color #ff0
    .bt-disabled
        background-color #222
        cursor default
    .bt-compile
        background-color #fcfc00

$indent = 20px
.ir-container
    .func
        padding 0 10px 0 10px
        background-color #f88406
        &:hover
            background-color #f89406

        .bb
            &:hover
                background-color #ffc406

            .sliced
                background-color #888
                color #fff

            .sliceInst
                background-color #333
                color #fff

            .inst
                padding-left $indent*2
                cursor pointer
                &:hover
                    color #fff
                    background-color #000
                
