.editor
    width inherit
    height 600px

$indent = 20px
.ir-container
    .func
        &:hover
            background-color #f89406

        .bb
            &:hover
                background-color #ffc406

            .inst
                padding-left $indent*2
                cursor pointer
                &:hover
                    color #fff
                    background-color #000
                
