.editor {
  width: inherit;
  height: 600px;
}
.ir-container .func:hover {
  background-color: #f89406;
}
.ir-container .func .bb:hover {
  background-color: #ffc406;
}
.ir-container .func .bb .sliced {
  background-color: #888;
  color: #fff;
}
.ir-container .func .bb .sliceInst {
  background-color: #333;
  color: #fff;
}
.ir-container .func .bb .inst {
  padding-left: 40px;
  cursor: pointer;
}
.ir-container .func .bb .inst:hover {
  color: #fff;
  background-color: #000;
}
